#travel{
    color: rgb(228, 118, 40);
    background-color: rgb(24, 18, 18);
    font-size: medium;

}
.head{
    color: rgb(250, 154, 174);
    background-color: black;
}
div{
    color: rgb(0, 255, 13);
    background-color: black;
    border: 50px;
    border: 600px;
}